* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 0 24px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #1F2937;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: white;
  font-weight: 900;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  color: white;
  text-decoration: none;
}

.hero {
  background-color: #1F2937;
}

.hero .container {
  display: flex;
  gap: 64px;
  align-items: center;
  flex-flow: row wrap;
}

.hero div {
  flex: 1;
}

.hero-left {
  margin-bottom: 12px;
}

.hero-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.second-text {
  color: #E5E7EB;
  font-size: 18px;
}

.hero button {
  font-weight: bold;
  color: #E5E7EB;
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  margin-top: 16px;
}

.services .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 24px;
}

.service-card {
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 16px;
  padding: 16px;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon, .service-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.review {
  background-color: #E5E7EB;
}

.review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 48px;
}

.reviewer {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
  margin-top: 24px;
}

.branch .container {
  display: flex;
  justify-content: center;
}

.branch {
  height: 50vh;
}

.branch-card {
  background-color: #3882F6;
  color: white;
  padding: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.branch-card button {
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 8px 24px;
  font-weight: bold;
  border-radius: 6px;
}

footer {
  color: #E5E7EB;
  text-align: center;
  background-color: #1F2937;
  padding: 24px;
}
