* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif
}

section {
  padding: 0 300px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 16px 300px;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: white;
  font-weight: 900;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
color: white;
text-decoration: none;
}

.hero {
  background-color: #1F2937;
  gap: 32px;
}

.main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.second-text {
  color: #E5E7EB;
  font-size: 18px;
}

.hero button {
  font-weight: bold;
  color: #E5E7EB;
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  margin-top: 16px;
}

.services {
  flex-flow: row wrap;
  gap: 24px;
}

.service-card {
  width: 200px;
  background-color: #E5E7EB;
}
