* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif
}

section {
  padding: 0 300px;
  height: 100vh;
  display: flex;
  align-items: center;
}

header {
  padding: 16px 300px;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: white;
  font-weight: 900;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  color: white;
  text-decoration: none;
}

.hero {
  background-color: #1F2937;
}

.hero-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.second-text {
  color: #E5E7EB;
  font-size: 18px;
}

.hero button {
  font-weight: bold;
  color: #E5E7EB;
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  margin-top: 16px;
}

.services {
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 24px;
}

.service-card {
  text-align: center;
  border-radius: 16px;
  width: 300px;
  height: 400px;
  padding: 16px;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.service-icon, .service-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.review {
  font-size: 48px;
  background-color: #E5E7EB;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewer {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}
